<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Watchable Web Client Automation - Functional Suite">
	<test name="VerifyHomePageSections">
		<classes>
			<class name="comcast.test.homepage.VerifyHomePageSections" />
		</classes>
	</test> <!-- VerifyHomePageSections -->
</suite> <!-- Watchable Suite -->

